* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: hidden;

  letter-spacing: 0.01em;
  color: #2c2c2c;
}

body :focus-visible {
  outline: 2px solid #a5a2a2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
